{% load staticfiles %}
<html lang="ru">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="{% static 'css/main.css' %}" rel='stylesheet' type='text/css' />-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
    <body>

    {% block content %}
    {% endblock %}

    Herder today: {{ herder.name }}<br>
    Herders: {{ herders }}<br>
    Goats: {{ goats.count }}<br>

    {% if new_herders %}
        {% for new_herder in new_herders %}
            <br>Today come new herder: {{ new_herder.name }}
        {% endfor %}
        <br>
        Today comes new {{ new_goats.count }} goats
    {% endif %}

	</body>
</html>